[run]
branch = True
source = nnetsauce

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    nnetsauce/__init__.py	
    nnetsauce/demo/*
    setup.py	
	